# use python 3.7.3 eventaully by using pyenv: curl https://pyenv.run | bash
sortedcontainers
scikit-learn
statsmodels
tensorflow[tensorflow]==1.*
matplotlib
cachetools
yfinance
hyperopt
keras-rl[reinforcement]
requests
seaborn
pandas
keras
Mako
h5py
dill
gym
